<div class="border border-dark border-3" style="margin: 0px 8px;">
    <div class="d-flex justify-content-around flex-wrap my-5" style="width: 90vw;">
      <div class="flex">
        <lion-counter></lion-counter>
      </div>
      <div class="flex">
        <lion-counter-action ></lion-counter-action>
      </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap my-5" style="width: 90vw">
      <div class="flex">
        <lion-counter-logs></lion-counter-logs>
      </div>
      <div class="flex">
          <lion-counter-track></lion-counter-track>
        </div>
    </div>
  </div>
  